.classpath
.settings
.project
.build
.idea

*.class
*.DS_Store
*.lock
*.swp
*.eml
*.iml
*.idea
target
bin

*.cache

css/
images/
js/
*.html
.metadata
Servers
.recommenders
*.log
catalina.base_IS_UNDEFINED
workspace.xml
